@import "@/styles/mediaQueries";

.search-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 500px;
  margin: 0 auto;
  padding: 1rem;

  @include queryAbove("tablet") {
    flex-direction: row;
    align-items: center;
  }

  .visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
  }

  .error-message {
    color: red;
    margin-top: 0.25rem;
  }
}
